.frame {
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    min-height: 100vh;
}

.sidebarContainer {
    display: none;
}

.sidebarViewport {
    position: sticky;
    top: var(--ifm-navbar-height);
}

.sidebarViewport > :global(div) {
    padding-top: 0;
}

.sidebarViewport :global(.menu) {
    overflow-y: visible;
    max-height: none;
}

.content {
    flex: 1;
    min-width: 0;
    padding-top: 1.5rem;
}

@media (min-width: 997px) {
    .sidebarContainer {
        display: block;
        width: var(--doc-sidebar-width);
        flex-shrink: 0;
        margin-top: calc(-1 * var(--tools-sidebar-offset));
        border-right: 1px solid var(--ifm-toc-border-color);
        transition: width 200ms ease;
        will-change: width;
        clip-path: inset(0);
    }

    .sidebarCollapsed {
        width: var(--doc-sidebar-width-hidden, 2rem);
    }
}
